.prism {
  p > code,
  li > code {
    color: #f8f8f2;
    background: #131316;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    text-align: left;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    padding: 0.4em 0.5em;
    margin: 0.5em 0;
    overflow: auto;
    border-radius: 0.3em;
    tab-size: 4;
    hyphens: none;
  }
  code[class*="language-"],
  pre[class*="language-"] {
    color: #f8f8f2;
    background: none;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    text-align: left;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    tab-size: 4;
    hyphens: none;
  }
  pre[class*="language-"] {
    padding: 1em;
    margin: 1.5rem 0;
    overflow: auto;
    border-radius: 0.3em;
    &::-webkit-scrollbar-thumb {
      background: #ffa846;
    }
    &::-webkit-scrollbar-track {
      background: #797283;
    }
    &::-webkit-scrollbar {
      width: 12px;
      height: 12px;
    }
  }
  pre[class*="language-"] {
    background: #131316;
  }
  p > code[class*="language-"],
  li > code[class*="language-"] {
    border-radius: 0.3em;
    background: rgba(52, 152, 219, 0.2);
    color: #2e3246;
    bottom: 2px;
    position: relative;
  }
  .token.operator {
    color: #bc78d7;
  }
  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: slategray;
  }
  .token.punctuation {
    color: #7ad7e2;
  }
  .namespace {
    opacity: 0.7;
  }
  .token.property,
  .token.tag,
  .token.constant,
  .token.symbol,
  .token.deleted {
    color: #ef514f;
  }
  .token.boolean,
  .token.number {
    color: #ae81ff;
  }
  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    color: #e5db89;
  }
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string,
  .token.variable {
    color: #f8f8f2;
  }
  .token.atrule,
  .token.attr-value,
  .token.class-name {
    color: #e6db74;
  }
  .token.function {
    color: #84c16a;
  }

  .token.keyword {
    color: #6095ea;
  }
  .token.regex,
  .token.important {
    color: #fd971f;
  }
  .token.important,
  .token.bold {
    font-weight: bold;
  }
  .token.italic {
    font-style: italic;
  }
  .token.entity {
    cursor: help;
  }
}

.content-wrapper {
  padding: 3rem 0;

  p,
  span,
  a,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    max-width: 700px;
    margin: auto;
  }

  p {
    color: #5d7079;
  }

  h1 {
    margin-top: 3rem;
  }
  h2 {
    margin-top: 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
    font-family: Inter;
    color: #090a0b;
    font-weight: 400;
    a {
      box-shadow: none;
      border-bottom: none;
      &:hover,
      &:focus {
        background: none;
      }
    }
    &:hover {
      .anchor svg {
        opacity: 0.8;
      }
    }
  }
  .post-title {
    margin-bottom: 3rem;
    margin-top: 1.2rem;
    font-size: 3rem;
    line-height: 1.6;
    padding: 0 20px;
  }
  .post-tag {
    text-transform: uppercase;
    display: block;
    padding: 0 20px;
  }

  .hero-image {
    height: 540px;
  }
}

.post-content {
  @extend .prism;
  padding: 70px 20px 0;
  p,
  li {
    letter-spacing: -0.003em;
    --baseline-multiplier: 0.179;
    --x-height-multiplier: 0.35;
    font-size: 1.2rem;
    line-height: 2;
    code {
      padding: 0.2rem 0.5rem;
      margin: 0.5rem 0;
    }
  }
  a:not(.gatsby-resp-image-link):not(.anchor) {
    color: black;
    box-shadow: inset 0 -2px 0 #fd971f;
    border-bottom: 1px solid #fd971f;
    text-decoration: none;
    &:hover,
    &:focus {
      background: #fd971f;
      color: black;
    }
  }
  p {
    line-height: 2;
    margin-bottom: 1.5em;
    letter-spacing: 0.5px;
  }
  h2, h3 {
      margin-top: 1.5em;
      margin-bottom: 1em;
      letter-spacing: 1px;
  }
  img {
      max-width: 100%;
  }
}
